body{
	padding-top: 60px;
}

.navbar{
	border-top: 8px solid #2cabea;
	border-bottom: 2px solid #2cabea;
	min-height: 90px;
}

.navbar-nav{
	height: 70px;
    padding-top: 20px;
}


.jumbotron{
	background-image: url('../img/kids1.jpg');
}

.footer{
	height: 90px;
	background-color: rgba(85, 85, 85, 1);
	color: #D8D9DC;
	padding:15px;
}
.phone{
	font-weight: bold;
}

a img{
	height:60px;
	padding-top: 0;
}

body, table, td, input, textarea { font:12px; font-family: 'Nanum Gothic', serif; color:#555; }

div.line-horizontal { border: 1px solid #eee; border-radius: 1px; margin: 16px 0px; }

#board_counsel img.dummy { margin-bottom: 16px; }

#board_counsel .left-side-bar ul { list-style: none; margin: 16px 0px 0px 0px; padding: 0px; width: 60%; }
#board_counsel .left-side-bar ul li { border-bottom: 1px solid #eee; }
#board_counsel .left-side-bar ul li:last-child { border: 0px; }
#board_counsel .left-side-bar ul li a { display: inline-block; padding: 8px 16px; color: #aaa; font-size: 1.2em; text-decoration: none; }

#board_counsel .right-article-list .intro h3 { font-size: 1.5em; font-weight: bold; margin-bottom: 20px; }
#board_counsel .right-article-list .intro p { margin-bottom: 3px; }
#board_counsel .right-article-list .intro button { margin-top: 16px; }
#board_counsel .right-article-list .counsel-phone { margin-top: 16px; }

#board_notice img.dummy { margin-bottom: 16px; }

#board_notice .left-side-bar ul { list-style: none; margin: 16px 0px 0px 0px; padding: 0px; width: 60%; }
#board_notice .left-side-bar ul li { border-bottom: 1px solid #eee; }
#board_notice .left-side-bar ul li:last-child { border: 0px; }
#board_notice .left-side-bar ul li a { display: inline-block; padding: 8px 16px; color: #aaa; font-size: 1.2em; text-decoration: none; }

#board_notice .right-article-list { border-left: 1px solid #eee; }
#board_notice .right-article-list .categories { margin-bottom: 16px; }
#board_notice .right-article-list .categories .category { display: inline-table; padding: 6px 12px; margin: 3px; border: 1px solid #eee; }
#board_notice .right-article-list .categories .category:first-child { margin-left: 0px; }
#board_notice .right-article-list .articles { font-size: 0.9em; }