body{
	padding-top: 60px;
}

.navbar{
	border-top: 8px solid #2cabea;
	border-bottom: 2px solid #2cabea;
	min-height: 90px;
}

.navbar-nav{
	height: 70px;
    padding-top: 20px;
}


.jumbotron{
	background-image: url('../img/kids1.jpg');
}

.footer{
	height: 90px;
	background-color: rgba(85, 85, 85, 1);
	color: #D8D9DC;
	padding:15px;
}
.phone{
	font-weight: bold;
}

a img{
	height:60px;
	padding-top: 0;
}
