html,body{height:100%}
body{margin:0;font-family:'Nanum Square', 'NanumBarunGothic';}

.contentPage { min-height: 100%; margin-top: 60px; }
.contentPage .carousel-indicators { display: none; }

.left-side-bar ul { list-style: none; margin: 16px 0px 0px 0px; padding: 0px; width: 75%; }
.left-side-bar ul li { border-bottom: 1px solid #eee; }
.left-side-bar ul li:last-child { border: 0px; }
.left-side-bar ul li a { display: inline-block; padding: 8px 16px; font-size: 1.2em; text-decoration: none; }
.a_link_clicked{
	font-weight: bold;
	color:#2cabea;
}
.a_link_unClicked{
	color: #aaa;
}
.title h1{
	font-weight: 600;
}

.affix {
	display: none;
}

#clinic .left-side-bar ul { list-style: none; margin: 16px 0px 0px 0px; padding: 0px; width: 75%; }
#clinic .left-side-bar ul li { border-bottom: 1px solid #eee; }
#clinic .left-side-bar ul li:last-child { border: 0px; }
#clinic .left-side-bar ul li a { display: inline-block; padding: 8px 16px; font-size: 1.2em; text-decoration: none; }
#clinic .a_link_clicked{
	font-weight: bold;
	color:#2cabea;
}
#clinic .a_link_unClicked{
	color: #aaa;
}
#clinic .title h1{
	font-weight: 600;
}
.content {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.1em;
	line-height: 200%;
	word-break: keep-all;
}

.content .title {
	margin-top: 20px;
	margin-bottom: 10px;
}

.content .title-horizontal { position: relative; margin-bottom: 20px; }
.content .title-horizontal h1{font-weight:600}
.content .title-horizontal *:first-child { display: inline-block; margin-bottom: 0px; }
.content .title-horizontal div.title-detail {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	margin-left: 12px;
	color: #888;
	font-size: 0.9em;
	line-height: normal;
}

.content .detail {
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 15px;
	/* text-indent: 16px; */
}

.content ol, .content ul {
	list-style-type: none;
}

.content hr {
	border-top: 3px solid #847373;
}

.content img {
	max-width: 100%;
}

.tel_no_top{
	margin-top: -1.0em;
}

.footer {
	bottom:0;
	width:100%;
	background-color: #2b2b2b;/* rgba(85, 85, 85, 1); */
	color: #707070;
	padding:15px;
	/* margin-top:-8em; */
	/* height:10em */
}

.footer dl.dl-horizontal {
	margin-bottom: 6px;
}

.footer-logo {
	margin-bottom: 16px;
}

.in_line{
	display:inline-block;
}

.navbar {
	border-top: 8px solid #2cabea;
	border-bottom: 2px solid #2cabea;
}

.navbar-brand {
	padding: 8px;
}

.navbar-brand img{
	height: 34px;
	padding-top: 0;
}

.nav .tel_no_top { display: none; }
.nav .phone-number-collapsed { display: inline; font-weight: bolder; }
/* .nav .tel_no_top_collapsed { display: inherit; padding-left: 15px; } */

@media ( min-width: 992px ) {
	.contentPage { margin-top: 90px; }
	.contentPage .carousel-indicators { display: block; }
	
	.affix { display: inherit; }
	
	.navbar { min-height: 90px; }
	
	.navbar-brand img{ height:60px; }
	
	.navbar-nav { /* height: 70px; */ padding-top: 20px; }
	
	.nav .tel_no_top { display: inherit; }
	.nav .phone-number-collapsed { display: none; }
	/* .nav .tel_no_top_collapsed { display: none; } */
}

/* 
@font-face{
font-family:'NanumBarunGothic';
font-style:normal;
font-weight:400;
src:url(//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot);
src:url(//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix) format('embedded-opentype'),
	url(//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff) format('woff'),
	url(cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf) format('truetype');
} */

div.line-horizontal { border: 1px solid #eee; border-radius: 1px; margin: 16px 0px; }

#counsel img.dummy { margin-bottom: 16px; }

#counsel .left-side-bar ul { list-style: none; margin: 16px 0px 0px 0px; padding: 0px; width: 60%; }
#counsel .left-side-bar ul li { border-bottom: 1px solid #eee; }
#counsel .left-side-bar ul li:last-child { border: 0px; }
#counsel .left-side-bar ul li a { display: inline-block; padding: 8px 16px; color: #aaa; font-size: 1.2em; text-decoration: none; }

#counsel .right-article-list .intro h3 { font-size: 1.5em; font-weight: bold; margin-bottom: 20px; }
#counsel .right-article-list .intro p { margin-bottom: 3px; }
#counsel .right-article-list .intro button { margin-top: 16px; }
#counsel .right-article-list .counsel-phone { margin-top: 16px; }